.venv/
.kb_index/
__pycache__/
*.pyc
.uv/
uv.lock
.git
.DS_Store
.idea/
.vscode/
*.log
.env   
.env.*
coverage
htmlcov/
.ipynb_checkpoints/
.pytest_cache/
.pyre/
.mypy_cache/
.pytype/
celerybeat-schedule
instance/
.webassets-cache/
dist/
build/
*.egg-info/
*.faiss
cache/

